<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<%= link_to 'Edit my task', edit_task_path(@task) %>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<a data-confirm="Are you sure?" rel="nofollow" data-method="delete">
</a>
